.header-wrap {
  position: relative;
  height: 10vh;
  z-index: 100;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #357;
  &__left {
    flex: 1;
  }
  &__right {
    display: flex;
    align-items: center;
    width: 100px;
  }
}
